/* ==UserStyle==
@name           Nightingale
@namespace      https://github.com/Catgrills/Nightingale
@version        1.1.0
@description    An user style for Twitter called Nightingale.
@author         Catgrills/Katgrills
@preprocessor   uso
@var select theme 'Theme' {
    "Light": `
    :root {
        --body-bg: #F0F1F5 !important;
        --card-bg: #FFF !important;
        --card-bg-2: #F8F8F8 !important;
        --op-bg: rgba(255, 255, 255, .9) !important;
        --border-color: #cfd4d8 !important;
        --primary-color: #333 !important;
        --secondary-color: #657786 !important;
        --invert: invert(0) !important;
    }
    `,
    "Dark":`
    :root {
        --body-bg: #192633 !important;
        --card-bg: #202C3A !important;
        --card-bg-2: #121A23 !important;
        --op-bg: rgba(32, 44, 58, .9) !important;
        --border-color: #0A0F14 !important;
        --primary-color: #FFF !important;
        --secondary-color: #EBEBEB !important;
        --invert: invert(1) !important;
    }
    `
}
==/UserStyle== */
@-moz-document domain("twitter.com") {

    /*[[theme]]*/

    /* GENERAL */

    /** DESCRIPTION : set main font and background, plus change/remove elements from all page **/
    * {
        font-family: "Roboto", "ぼくたちのゴシック２ボールド", "BM YEONSUNG" !important;
    }

    *::-moz-focus-inner {
        border: 0 !important;
    }

    input::-moz-placeholder {
        color: var(--primary-color) !important;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 0px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    html,
    body {
        background: var(--body-bg) !important;
    }

    body {
        overflow-x: hidden;
    }

    a[target="_blank"] {
        color: #189EF3 !important;
    }

    div[role="button"] {
        border: none;
    }

    div[data-testid="tweetButton"] {
        background: #189EF3 !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
        padding-bottom: 2px;
    }

    div[data-testid="tweetButton"] * {
        color: #FFF !important;
    }

    div[data-testid="tweetButton"] div {
        background: #189EF3 !important;
    }

    div[role="status"] div[role="button"] {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
        height: 42px !important;
        padding-bottom: 4px !important;
    }

    .css-1dbjc4n.r-aqfbo4.r-rull8r.r-qklmqi.r-gtdqiz.r-ipm5af.r-1g40b8q {

        /*** FIXED HEADER ***/
        position: relative !important;
    }

    .r-14lw9ot,
    .r-kemksi {

        /*** YOUR TWEET INPUT ***/
        background-color: inherit;
    }

    .css-1dbjc4n.r-16y2uox.r-1wbh5a2.r-1dqxon3 {

        /*** GIF MODAL ***/
        background: var(--card-bg);
    }

    .css-1dbjc4n.r-16y2uox.r-1wbh5a2.r-1dqxon3 * {
        color: #FFF !important;
    }

    .r-5kkj8d {

        /*** BORDER TOP WIDTH ***/
        border-top: none;
    }

    .css-1dbjc4n.r-1p0dtai {

        /*** THUMBNAILS FRAME ***/
        max-width: initial !important;
    }

    .r-t23y2h {

        /*** THUMBNAILS BORDER RADIUS ***/
        border-radius: 4px !important;
    }
    
     .css-1dbjc4n.r-t23y2h.r-1phboty.r-rs99b7.r-1udh08x.r-o7ynqc.r-6416eg {
        
        /*** THUMBNAILS LINK ***/
        background: var(--card-bg-2) !important;
        border: 1px solid var(--border-color) !important;
        border-radius: 2px !important;
    }

    .r-1u4rsef,
    .r-1ysxnx4 {
        background-color: transparent !important;
    }

    div[data-testid="controlBar"] * {

        /*** VIDEO CONTROLS ***/
        color: #FFF !important;
    }

    a[data-testid="AppTabBar_Home_Link"],
    a[data-testid="AppTabBar_Explore_Link"],
    a[href*="ads.twitter.com"],
    a[href*="analytics.twitter.com"],
    a[href*="support.twitter.com"],
    .css-1dbjc4n.r-sdzlij.r-1p0dtai.r-xoduu5.r-1d2f490.r-xf4iuw.r-u8s1d.r-zchlnj.r-ipm5af.r-o7ynqc.r-6416eg

    /*** HOVER ACTIONS BUTTONS ***/
    ,
    .css-1dbjc4n.r-sdzlij.r-1p0dtai.r-xoduu5.r-1d2f490.r-podbf7.r-u8s1d.r-zchlnj.r-ipm5af.r-o7ynqc.r-6416eg /*** HOVER DROPDOWN BUTTONS ***/,
    .r-k5y9r7 /*** BORDERS ***/ {
        display: none !important;
    }

    /* LEFT SIDEBAR */

    /** DESCRIPTION : change the elements of the left sidebar **/
    header {
        z-index: 0 !important;
    }

    h1[role="heading"] {
        margin-left: 2px !important;
    }

    h1[role="heading"] svg {
        color: #189EF3 !important;
        height: 28px;
    }

    header[role="banner"] > div:nth-of-type(1) > div:nth-of-type(1) {
        margin-top: 90px !important;
    }

    nav svg {
        color: var(--primary-color) !important;
    }

    a[data-testid="SideNav_NewTweet_Button"] {
        background: #189EF3 !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
    }

    a[data-testid="SideNav_NewTweet_Button"] svg {
        height: 20px;
    }

    div[aria-live="polite"] {
        border: none !important;
        font-size: 8pt !important;
        height: 20px !important;
        width: 20px !important;
    }

    /* RIGHT SIDEBAR */

    /** DESCRIPTION : change the elements of the right sidebar **/
    div[data-testid="sidebarColumn"] {
        visibility: hidden;
        z-index: 999 !important;
    }

    div[data-testid="sidebarColumn"] form {
        visibility: visible !important;
        position: fixed;
        top: 0px;
        right: 0px !important;
        left: 0px !important;
    }

    div[data-testid="sidebarColumn"] form div {
        border-radius: 1px !important;
        box-shadow: none !important;
        color: var(--primary-color);
        font-size: 14pt !important;
        font-stretch: condensed !important;
    }

    .r-urgr8i {
        background: transparent;
    }

    .r-p1n3y5 {
        border-color: transparent;
    }

    .css-1dbjc4n.r-1awozwy.r-qklmqi,
    div[data-testid="sidebarColumn"] form div[role="option"] {
        background: var(--card-bg-2);
        border: none;
    }

    .r-qklmqi * {
        color: var(--primary-color) !important;
        font-stretch: condensed;
    }

    div[id*="typeaheadDropdown"] {
        background-color: var(--card-bg-2) !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
        z-index: 9 !important;
    }

    div[id*="typeaheadDropdown"] * {
        border: none !important;
        color: var(--primary-color);
        font-size: 14pt !important;
        font-stretch: condensed !important;
    }

    div[data-testid="sidebarColumn"] form > div:nth-of-type(1) > div:nth-of-type(1) {
        background: var(--card-bg);
        border-radius: 0px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
        padding-top: 2px !important;
        padding-bottom: 4px !important;
        padding-left: 10px !important;
    }

    div[data-testid="sidebarColumn"] form > div:nth-of-type(1) > div:nth-of-type(1) * {
        color: var(--primary-color) !important;
        font-size: 14pt !important;
        font-stretch: condensed !important;
    }

    div[data-testid="AppTabBar_More_Menu"] * {
        color: var(--primary-color);
        font-size: 14pt;
        font-stretch: condensed !important;
    }

    #react-root div[role="menu"] {
        background: var(--card-bg) !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
    }

    #react-root div[role="menu"] * {
        background-color: inherit !important;
        border-color: var(--border-color);
        color: var(--primary-color);
        font-size: 14pt;
        font-stretch: condensed;
    }

    a[data-testid="switcher"] {
        border: none !important;
    }

    a[data-testid="SideNav_NewTweet_Button"] * {
        color: #FFF !important;
        font-size: 14pt !important;
        font-stretch: condensed !important;
    }

    /* HOME */

    /** DESCRIPTION : change the elements of the home page **/
    div[data-testid="primaryColumn"] {
        margin-top: 100px;
        max-width: 90% !important;
    }

    div[data-testid="primaryColumn"] div {
        color: var(--primary-color);
        font-size: 14pt;
        font-stretch: condensed;
        max-width: 100% !important;
    }

    div[data-testid="primaryColumn"],
    section div {
        background: transparent;
        border: none !important;
    }

    div[data-testid="primaryColumn"] > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {

        /*** HOME TITLEBAR ***/
        background: var(--card-bg-2);
        border: none;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
        padding: 3px 0px 6px 10px;
        position: relative;
        margin-bottom: 10px;
    }

    div[data-testid="primaryColumn"] > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) * {
        background-color: transparent;
        color: var(--primary-color);
        font-size: 14pt;
        font-stretch: condensed;
    }

    div[data-testid="primaryColumn"] > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) {
        background: transparent !important;
    }

    div[data-testid="primaryColumn"] > div:nth-of-type(1) > div:nth-of-type(1),
    div[data-testid="primaryColumn"] > div:nth-of-type(1) > div:nth-of-type(3) {
        background: transparent;
        border: none !important;
    }

    div[data-testid="primaryColumn"] article {

        /*** HOME TWEET ***/
        background: var(--card-bg);
        border: none !important;
        border-radius: 2px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
        padding: 10px !important;
        width: 100% !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    article * {
        border: none !important;
        color: var(--primary-color) !important;
        font-size: 14pt !important;
        font-stretch: condensed !important;
    }

    article img {
        border-radius: 2px !important;
    }

    article:hover {
        background: var(--card-bg) !important;
    }

    div[style*="left"] div[style*="will-change"] * {
        box-shadow: none;
    }

    div[style*="left"] div[style*="will-change"] div {
        background-color: var(--card-bg-2);
        border-radius: 3px !important;
    }

    div[style*="left"] div[style*="will-change"] div * {
        color: var(--primary-color);
        font-size: 14pt;
        font-stretch: condensed;
    }

    div[style*="left"] div[style*="will-change"] div[data-testid*="-follow"] div {
        background: #189EF3 !important;
    }

    div[style*="left"] div[style*="will-change"] div[data-testid*="-unfollow"] div {
        background: #079992 !important;
    }

    div[role="alert"] {
        background-color: var(--card-bg);
        border-radius: 2px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
        padding-bottom: 13px !important;
    }

    div[role="alert"] * {
        color: var(--primary-color);
        font-size: 14pt;
        font-stretch: condensed;
    }

    .PageContainer {
        background: transparent !important;
    }

    .PageContainer * {
        border-color: var(--border-color);
        color: var(--primary-color);
        font-size: 14pt;
        font-stretch: condensed;
    }

    .list-explanation {
        font-family: "Roboto" !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
    }

    .list-btn:first-of-type {
        border-color: var(--border-color);
    }

    .list-btn:hover {
        background: transparent;
        opacity: .5;
    }

    div[role="alertdialog"] > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) {
        background: var(--card-bg-2) !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .5) !important;
    }

    div[role="alertdialog"] > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) * {
        color: var(--primary-color);
        font-size: 14pt;
        font-stretch: condensed;
    }

    div[role="alertdialog"] > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) div[role="button"] {
        background: var(--card-bg);
        border: 1px solid var(--border-color);
        padding-bottom: 3px;
    }

    /* NOTIFICATIONS */

    /** DESCRIPTION : change the elements of the notifications page **/
    div[role="tablist"],
    div[role="tablist"] * {
        background: var(--card-bg-2) !important;
    }

    div[role="tablist"] {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
        margin-bottom: -4px;
        height: 52px;
    }

    /* MESSAGES */

    /** DESCRIPTION : change the elements of the messages page **/
    section[role="region"] {
        border-color: var(--border-color) !important;
    }

    section[aria-labelledby="master-header"],
    section[aria-labelledby="detail-header"] {
        background-color: var(--card-bg-2) !important;
        padding: 10px !important;
    }

    section[aria-labelledby="master-header"] div,
    section[aria-labelledby="detail-header"] div {
        background-color: var(--card-bg-2) !important;
    }

    section[aria-labelledby="master-header"] *,
    section[aria-labelledby="detail-header"] * {
        border-color: var(--border-color);
        color: var(--primary-color);
        font-size: 14pt;
        font-stretch: condensed;
        line-height: 20pt;
    }

    section[aria-labelledby="detail-header"] a[role="button"],
    section[aria-labelledby="detail-header"] a[role="button"] div {
        background: var(--card-bg) !important;
    }

    section[aria-labelledby="master-header"] div[data-testid="conversation"] {
        background: var(--card-bg) !important;
        border: 1px solid var(--border-color) !important;
        border-radius: 2px !important;
    }

    section[aria-labelledby="master-header"] div[data-testid="conversation"] div {
        background-color: var(--card-bg) !important;
    }

    a[data-testid="NewDM_Button"] {
        border: none;
    }

    .css-1dbjc4n.r-1twgtwe.r-sdzlij.r-rs99b7.r-1p0dtai.r-1mi75qu.r-1d2f490.r-u8s1d.r-zchlnj.r-ipm5af {
        background-color: initial !important;
    }

    section[aria-labelledby="master-header"] div[role="tablist"],
    div[data-testid="primaryColumn"] > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) div[role="tablist"] {
        box-shadow: none !important;
    }

    a[role="tab"]:hover {
        background: transparent !important;
        opacity: .5;
    }

    div[aria-labelledby="modal-header"] {
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .6) !important;
    }

    div[aria-labelledby="modal-header"] label {
        background-color: var(--card-bg-2);
        border-bottom: 1px solid var(--border-color);
    }

    div[aria-labelledby="modal-header"] div[style*="background-color"] {
        background-color: var(--card-bg) !important;
    }

    div[aria-labelledby="modal-header"] * {
        border-color: var(--border-color);
        color: var(--primary-color);
        font-size: 14pt;
        font-stretch: condensed;
    }

    div[aria-labelledby="modal-header"] .DraftEditor-root {
        border-radius: 2px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
    }

    div[aria-labelledby="modal-header"] .DraftEditor-root * {
        background: var(--card-bg) !important;
        padding: 2px;
    }

    div[data-testid="nextButton"] {
        background: var(--card-bg) !important;
        border: 1px solid var(--border-color) !important;
    }

    div[data-testid="nextButton"] div {
        background: transparent !important;
    }

    /* LIST */

    /** DESCRIPTION : change the elements of the list page **/
    a[href="/lists/create"] {
        background: var(--card-bg-2);
        border-color: var(--border-color);
    }

    .r-qqzlmc {
        max-height: 100% !important;
    }

    .css-1dbjc4n.r-1igl3o0.r-qklmqi.r-1adg3ll .r-1dgebii {
        background: var(--card-bg-2);
        border: 1px solid var(--border-color) !important;
        border-radius: 2px !important;
        padding: 12px 5px 14px 5px;
    }

    .r-1uaug3w {
        background: var(--card-bg-2);
    }

    /* PROFILE */

    /** DESCRIPTION : change the elements of the profile page **/
    a[role="link"] * {
        color: var(--primary-color);
        font-size: 14pt;
        font-stretch: condensed;
    }

    a[href="/settings/profile"] {
        background: var(--card-bg-2);
        border-color: var(--border-color);
        padding-bottom: 2px;
    }

    div[data-testid="UserCell"] {
        background: var(--card-bg-2) !important;
        border-radius: 2px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
        margin-top: 10px !important;
        margin-bottom: -4px !important;
    }

    div[data-testid="userActions"],
    div[aria-label*="notif"] {
        border: none !important;
    }

    div[data-testid*="-follow"] {
        background: #189EF3 !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
        height: 40px;
        padding-bottom: 3px;
    }

    div[data-testid*="-unfollow"] {
        background: #079992 !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
        height: 40px;
        padding-bottom: 3px;
    }

    div[data-testid*="-follow"] *,
    div[data-testid*="-unfollow"] * {
        color: #FFF !important;
    }

    div[role="presentation"] {
        border-color: var(--border-color);
    }

    a[href*="related_users"]:hover {
        background: transparent !important;
        opacity: .5 !important;
    }

    .QuoteTweet,
    .btn.btn-default.btn-sm.ep-ViewAllEngagementsButton {
        background: var(--card-bg-2);
        border: 1px solid var(--border-color);
    }

    .QuoteTweet *,
    .ep-TweetPerformance.ep-Section * {
        border-color: var(--border-color) !important;
        color: var(--primary-color);
        font-size: 14pt !important;
        font-stretch: condensed;
        font-weight: normal;
        line-height: 20pt;
    }

    /* EDIT PROFILE MODAL */

    /** DESCRIPTION : change the elements of the edit profile modal **/
    .r-urgr8i * {
        color: #FFF !important;
    }

    .css-1dbjc4n.r-yfoy6g.r-1f0042m.r-16y2uox.r-1wbh5a2 {
        background: var(--card-bg) !important;
    }

    .css-1dbjc4n.r-1uaug3w.r-rull8r.r-wgabs5.r-1jkafct.r-18u37iz {
        border: 1px solid var(--border-color) !important;
    }

    /* MOMENTS */

    /** DESCRIPTION : change the elements of the moments page **/
    section a[href*="moments"] {
        background: var(--card-bg) !important;
        border-radius: 2px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
        margin-bottom: 10px;
    }

    /* SEARCH */

    /** DESCRIPTION : change the elements of the search page **/
    a[href*="spelling_expansion"] {
        font-size: 14pt !important;
        font-stretch: condensed !important;
    }

}

@-moz-document regexp("https://twitter.com/home.*") {
    div[data-testid="tweetButtonInline"] {
        background: #189EF3;
        border-color: var(--border-color);
        padding-bottom: 3px;
    }

    div[data-testid="tweetButtonInline"] * {
        color: #FFF !important;
    }

    div[data-testid="primaryColumn"] > div:nth-of-type(1) > div:nth-of-type(2) {

        /*** HOME PERSONAL ***/
        background: var(--card-bg-2) !important;
        border: none !important;
        border-radius: 2px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
        padding: 10px 10px 20px 10px !important;
    }

    div[data-testid="primaryColumn"] > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) * {
        color: var(--primary-color);
        font-size: 14pt !important;
        font-stretch: condensed !important;
    }

    div[data-testid="toolBar"] {
        background: var(--card-bg-2);
        margin-left: 20px !important;
    }

    .public-DraftEditorPlaceholder-root,
    .DraftEditor-editorContainer {
        margin-left: 13px !important;
    }

    div[data-testid="addButton"] {
        border: none !important;
    }

    .r-yfoy6g {
        background-color: transparent;
    }

}

@-moz-document url("https://twitter.com/messages/compose"),
url("https://twitter.com/compose/tweet") {
    div[aria-labelledby="modal-header"] div {
        background-color: var(--card-bg-2);
        border: none;
    }

}
